
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* Top Navigation */
  .topnav {
    background-color: #cecece;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 18%;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #414141;
    color: white;
  }
  
  /* Slideshow Container */
  .slideshow-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Slayt gösterisinin maksimum genişliği */
    height: 300px;
    float: left; /* Slayt gösterisini sola yasla */
  }
  
  /* Slideshow Images */
  .mySlides {
    float: left;
    width: 400px;
    height: 300px;
  }
  
  .mySlides img {
    width: 100%;
    max-height: 300px;
  }
  
  /* Previous & Next Buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption Text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Dots/Circles */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 5px 0; /* Noktalar arası boşluk ayarlanıyor */
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading Animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
  }

  .dots-container {
    position: absolute;
    top: 50%;
    right: 20px; /* Slayt gösterisi ile arasında boşluk bırakmak için */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }